.user-work{
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}
.post-content{
  .img-post{
    width: 230px;
    height: 230px;
    object-fit: cover;
  }
}
.member-info{
  .card-body {
    //border: solid 4px $primary;
    &:hover, &:focus, &:active{
      background-color: $primary-600;
      color: $light;
      border-radius: .75rem ;
      -webkit-border-radius: .75rem ;
      -moz-border-radius: .75rem ;
      -ms-border-radius: .75rem ;
      -o-border-radius: .75rem ;

      .card-title,.card-text{
        color: $light;
      }
    }
    .card-title{
      color: $gray-900;
    }
    .card-text{
      color: $primary;
    }
  }
}
.img-id{
  height: 200px;
  //object-fit: contain;
  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
.img-id-modal{
  height: 100%;
  img{
      //height: 200px;
      width: 100%;
      object-fit: cover;
  }
}