.login-bg {
  //background-color: $gray-1c;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: url('https://github.com/Tina-Westar/starcreated-cms/blob/e1b8208a003fdd210369b98dd968c4897f9d126f/src/assets/images/img-login-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    //background-image: url('../src/assets/images/img-login-bg.svg');
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('https://raw.githubusercontent.com/Tina-Westar/starcreated-cms/main/src/assets/images/img-login-bg.png');
    //background-image: url('../src/assets/images/img-login-bg.svg');
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    //opacity: 0.4;
  }
}