/* Horizontal gradient, from left to right */
@mixin gradient-x($start-color: $secondary, $end-color: $primary, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
}

.gradient-x {
    @include gradient-x;
}

/* Vertical gradient, from top to bottom */
@mixin gradient-y($start-color: $secondary, $end-color: $primary, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}

.gradient-y {
    @include gradient-y;
}

.text-gradient-y {
    @include gradient-y;
    background-clip: text;
    color: transparent;
}